<div class="page">
    <div class="items-container">
        <div class="soundcloud-item">

            <iframe width="100%"
                height="166"
                scrolling="no"
                frameborder="no"
                src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/120115347&color=ff5500"></iframe>
            <!-- <div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/erik-schoonderwoerd"
                    title="Erik Schoonderwoerd"
                    target="_blank"
                    style="color: #cccccc; text-decoration: none;">Erik Schoonderwoerd</a> · <a href="https://soundcloud.com/erik-schoonderwoerd/blues-the-one"
                    title="Blues The One"
                    target="_blank"
                    style="color: #cccccc; text-decoration: none;">Blues The One</a></div> -->
        </div>
        <div class="soundcloud-item">
            <iframe width="100%"
                height="166"
                scrolling="no"
                frameborder="no"
                src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/120108005&color=ff5500">
            </iframe>
            <!-- <div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/erik-schoonderwoerd"
                    title="Erik Schoonderwoerd"
                    target="_blank"
                    style="color: #cccccc; text-decoration: none;">Erik Schoonderwoerd</a> · <a href="https://soundcloud.com/erik-schoonderwoerd/fretless-freak"
                    title="Fretless Freak"
                    target="_blank"
                    style="color: #cccccc; text-decoration: none;">Fretless Freak</a></div> -->
        </div>
    </div>
</div>
