:root {
    --ochre: #cb9d06;
    --black: black;
    --ochre-light: #edd37b;

    --font-size-m: 1rem;
    --font-size-l: 1.2rem;
    --font-size-xl: 1.5rem;
    --font-size-xxl: 2rem;

    --letter-spacing-m: 0px;
    --letter-spacing-l: 1.1px;
    --letter-spacing-xl: 1.2px;
    --letter-spacing-xxl: 1.3px;
}
