<div class="page">
    <div class="content">
        Groevie Tjoens componeert, arrangeert, en produceert muziek voor documantaires, films, reclame, tv etc. Erik Schoonderwoerd is het hart van het bedrijf en studeerde in 1991 af aan het Hilversums Conservatorium met als hoofdvak basgitaar en als bijvakken contrabas en piano. Door zijn grote diversiteit in zijn muzikale achtergrond is hem niets te gek, te groot of te klein,
        Elke opdracht is een uitdaging voor hem, hij probeert altijd zijn opdrachtgever te verbazen over het eindresultaat.
    </div>
</div>
