<mat-toolbar>
    <!-- <button class="menu"
        mat-icon-button
        (click)="onMenu()"> -->
    <mat-icon class="menu"
        (click)="onMenu()">menu</mat-icon>
    <!-- </button> -->
    <!-- <button class="home"> -->
    <a class="home"
        routerLink="/home">
        <mat-icon>home</mat-icon>
    </a>
    <!-- </button> -->
    <div class="active-page">{{activePage}}</div>
    <ul class="nav-list">
        <li>

        </li>
        <li>
            <a routerLink="/about"
                routerLinkActive="link-active"
                [routerLinkActiveOptions]="{exact:true}">
                over groevie tjoens
            </a>
        </li>
        <li>
            <a routerLink="/bassist"
                routerLinkActive="link-active"
                routerLinkActive="link-active"
                [routerLinkActiveOptions]="{exact:true}">
                bassist erik schoonderwoerd
            </a>
        </li>
        <li>
            <a routerLink="/muziek"
                routerLinkActive="link-active"
                [routerLinkActiveOptions]="{exact:true}">
                muziek
            </a>

        </li>
        <li>

            <a routerLink="/videos"
                routerLinkActive="link-active"
                [routerLinkActiveOptions]="{exact:true}">
                video's
            </a>
        </li>
        <li>

            <a routerLink="/klanten"
                routerLinkActive="link-active"
                [routerLinkActiveOptions]="{exact:true}">
                klanten
            </a>
        </li>
        <li>

            <a routerLink="/contact"
                routerLinkActive="link-active"
                [routerLinkActiveOptions]="{exact:true}">
                contact
            </a>
        </li>
    </ul>
</mat-toolbar>
